#mainbox{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
    height: 300px;
    border: 4px solid black;
    
}
.box{
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
/* .circle{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    background-color: rgb(16, 67, 122);
    width: 90px;
    height: 90px;
    margin-top: 10px;

    border-radius: 50%;
} */

#mainbox{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
    height: 300px;
    border: 4px solid black;
    
}
.box{
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
/* .circle{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    background-color: rgb(16, 67, 122);
    width: 90px;
    height: 90px;
    margin-top: 10px;

    border-radius: 50%;
} */

#mainbox{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1200px;
    height: 300px;
    border: 4px solid black;
    
}
.box{
    width: 200px;
    height: 250px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
/* .circle{
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    background-color: rgb(16, 67, 122);
    width: 90px;
    height: 90px;
    margin-top: 10px;

    border-radius: 50%;
} */

.circle {
    width: 90px;
    height: 90px;
    background-color: #1a57a6;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    flex-shrink: 0;   /* THIS FIXES YOUR OVAL ISSUE */
}
